streamlit==1.46.1
google-generativeai
python-dotenv
sentence-transformers
faiss-cpu
langchain
langchain-community
langchain-text-splitters

PyPDF2

pandas
numpy
plotly
matplotlib

scikit-learn

networkx

pillow